footer {
  text-align: center;
  width: max-content;
  margin: auto;
}

/* Fix close button appearing squished by landing in-between pixels */
.close.close {
  font-size: 1.6rem;
}

.btn.btn-link {
  padding: 0;
  border: none;
}

/* Fix tablet size loosing out on a lot of space */
@media (min-width: 768px) and (max-width: 991px) {
  div.container, div.container-sm, div.container-md {
    max-width: 990px;
  }
}
