.time-slot-row > .MuiCardContent-root,
.time-slot-row .number-input-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

/* TODO: 0 padding so that Collapse takes full space, then add padding/margin on inside elements,
or just add negative padding on Collapse, thought that feels hacky */
.time-slot-row > .MuiCardContent-root.MuiCardContent-root {
  padding: 16px;
}

.time-slot-row {
  margin-top: 12px;
}

.time-slot-row .number-input-container .MuiFormControl-root .MuiInputLabel-root {
  margin-top: -12px;
  white-space: unset;
  text-overflow: unset;
}

.time-slot-row .number-input-container .MuiFormControl-root {
  width: 64px;
}

.time-slot-row.time-slot-row .MuiFormControl-root {
  margin: 12px 0 0;
}

.time-slot-row .MuiFormControl-root:first-child {
  margin-right: 12px;
}

.MuiInput-root > .MuiSvgIcon-root {
  display: inline;
  position: absolute;
  top: 4px;
  right: 0;
  pointer-events: none;
}

.MuiFormControlLabel-root.MuiFormControlLabel-root {
  width: fit-content;
  margin: 12px;
  margin-left: -8px;
  padding-right: 6px;
}

#schedule-deadline-helper-text {
  width: max-content; /* Ensures error text does not wrap uselessly */
  white-space: pre;
  width: 240px;
}
