[flake8]
color=always
max-line-length=120
ignore=
  W503, ; Linebreak before binary operator
  Y015, ; Allow default value other than "..."
  E402, ; Allow imports at the bottom of file
per-file-ignores=
    ; Quotes
    ; Allow ... on same line as def
    ; Line too long
    ; Naming stuff, we don't have control over external libraries' naming conventions
    typings/**: Q000,E704,E501,N8
; McCabe max-complexity is also taken care of by Pylint and doesn't fail the build there
; So this is the hard limit
max-complexity=32
inline-quotes="
