[flake8]
color=always
max-line-length=120
ignores=Y015
per-file-ignores=
    ; Quotes
    __init__.pyi:Q000
; PyQt methods
; TODO: Bring down to 15, same as SonarLint
max-complexity=21
inline-quotes="
