.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  font-size: 16px;
  color: white;
}

.main {
  flex: 1;
  overflow: auto;
}

.MuiInputLabel-root {
  text-align: start;
}

.MuiContainer-root {
  padding-top: 16px; 
}

.App .MuiTextField-root {
  min-width: 214px; /* Enough to fit September 22nd 22:22 */
}

.MuiFormControl-root.MuiTextField-root[format] {
  min-width: 1px;
}
.MuiFormControl-root.MuiTextField-root[format="MMMM Do HH:mm"] {
  width: 214px; /* Enough to fit September 22nd 22:20*/
}
.MuiFormControl-root.MuiTextField-root[format="MMMM Do"] {
  width: 168px; /* Enough to fit September 22nd*/
}

.MuiIconButton-root > .MuiIconButton-label {
  height: 16px;
  width: 16px;
}

/* Properly hide empty labels on calendar selector popup */
.MuiDialogActions-root > .MuiButton-root {
  min-width: unset;
}
.MuiDialogActions-root > .MuiButton-root > .MuiButton-label:empty+.MuiTouchRipple-root,
.MuiDialogActions-root > .MuiButton-root > .MuiButton-label:empty {
  display: none;
}

label {
  font-size: calc(10px + 2vmin);
}

a {
  color: #09d3ac;
}

p, .paragraph {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

.MuiToolbar-root h2 {
  margin: auto;
}

.logo-button > .MuiIconButton-label {
    height: auto;
    width: auto;
}

.logo {
  height: 40px;
  max-width: 90px; /* Enough to fit title at minimum supported width */
}

.react-add-to-calendar,
.react-add-to-calendar .react-add-to-calendar__button,
.react-add-to-calendar .react-add-to-calendar__dropdown,
.react-add-to-calendar .react-add-to-calendar__dropdown ul li a {
  z-index: 1;
  color: inherit;
  background-color: inherit;
}

.react-add-to-calendar ul {
  padding: 0;
}
