.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 16px;
  color: white;
}
.App, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main {
  flex-grow: 1;
}

.App .MuiTextField-root {
  min-width: 210px;
}

label {
  font-size: calc(10px + 2vmin);
}

a {
  color: #09d3ac;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

.MuiToolbar-root h2 {
  margin: auto;
}

.logo {
  height: 40px;
}