# https://github.com/facebook/create-react-app/issues/11174
# https://overreacted.io/npm-audit-broken-by-design/
# Add `npm audit --production --audit-level=none` to scripts.postinstall in package.json
audit=false
