.time-slot-row {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.time-slot-row .MuiTextField-root {
  flex: 1;
  margin: 12px 0;
}

.time-slot-row .MuiIconButton-label {
  height: 14px;
  width: 14px;
  color: red;
}
