body {
    padding-top: 60px;
}
/*
.alert {
    text-align:center;
}
*/
#ajaxResponseMessage {
    display:none;
}
.user_rank {
    font-weight:bold;
}

.daysSince1 {
    color: blue;
}

.daysSince7 {
    color: green;
}

.daysSince30 {
    color: yellow;
}

.daysSince {
    color: red;
}

footer {
    text-align:center;
}
