.dashboard-container {
  padding-top: 15px;
}

/*--------*\
| Coloring |
\*--------*/
.daysSince0 {
  color: blue;
}

.daysSince1 {
  color: green;
}

.daysSince2 {
  color: darkorange;
}

.daysSince {
  color: crimson;
}

.highlight-vip {
  background-color: #fcf8e3;
}

tbody>tr.highlight-vip:nth-of-type(odd){
  background-color: #f6f2dd;
}

.highlight-friend {
  background-color: #dff0d8;
}

tbody>tr.highlight-friend:nth-of-type(odd){
  background-color: #d9ead2;
}

.highlight-current-user {
  background-color: #d9edf7;
}

tbody>tr.highlight-current-user:nth-of-type(odd){
  background-color: #d3e7f1;
}

td:first-child{
  font-weight:bold;
}

/*-----------------------*\
| Bootstrap redifinitions |
\*-----------------------*/
.alert {
  text-align: center;
  white-space: pre-wrap;
}

.row {
  margin: 0;
}

/* This is only to show the results */
.alert.alert-success {
  font-family: monospace;
}
