.picky {
  width: 244px; /* Nintendo Entertainment System in the options */
}

.picky__dropdown {
  top: 34px; /* Adjust */
  max-height: calc(100vh - 192px) !important; /* Still fits on a <= 394px wide screen */
}

.time-between {
  white-space: nowrap;
}

.time-between .input-group {
  display: inline-flex;
  width: 190px;
}
