.login-form-container.MuiContainer-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container > :first-child {
  margin-top: auto;
}

.login-form-container > :last-child {
  margin-bottom: auto;
}

/* Note: workaround for Chrome image shrinking in flex as Firefox supports this naturally */
.login-form-container > img {
  min-height: 0;
  object-fit: contain;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.src-api-key-link {
  margin: 0 -16px 0;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.src-api-key-link .MuiLink-underlineHover:hover ~ .MuiLink-underlineHover,
.src-api-key-link .MuiLink-underlineHover:hover ~ .MuiTextField-root .MuiInput-input {
  text-decoration: underline;
}

.src-api-key-link.src-api-key-link .MuiTextField-root {
  min-width: 0;
}

a.disabled {
  color: gray;
  pointer-events: none;
}
