# Pythonanywhere pre-installed
# https://www.pythonanywhere.com/batteries_included/
# Set image to "haggis" and Python version to "3.10"
Flask>=2.1.2
Flask-SQLAlchemy>=2.5.1
httplib2>=0.20.4
# Stuck on this version until I can figure out how to tell the engine to use collation=utf8_general_ci, and/or fix the charset 255 issue
mysql-connector-python<=8.3.0
# mysql-connector-python>=8.0.29
PyJWT>=2.4.0
requests>=2.28.1
requests-cache>=0.9.4
SQLAlchemy>=1.4.36

# Custom requirements
ratelimiter
redislite ; sys_platform != 'win32'
