-r requirements.txt

# Linters
bandit
flake8>=5,<7  # flake8-pyi deprecation warnings  #  flake8-quotes doesn't support v6 yet
flake8-builtins
flake8-bugbear
flake8-class-attributes-order
flake8-comprehensions>=3.8  # flake8 5 support
flake8-datetimez
flake8-pyi>=22.11.0  # flake8 6 support
flake8-quotes
flake8-simplify
pep8-naming
pylint>=2.14,<3.0.0  # New checks  # 3.0 still in pre-release
pylint-flask
pylint-flask-sqlalchemy
# Formatters
add-trailing-comma>=2.3.0  # Added support for with statement
autopep8>=2.0.0 # New checks
isort
unify

# types
types-Flask-SQLAlchemy
types-httplib2
types-requests
